// Aragnet Michal Raska
// js-gallery
// User: naith
// Date: 10.10.18
// Time: 18:33
// Desc: LESS stylesheet

@sidespace: 30pt;
@sidespace-s: 5pt;

// prima;ry color definition for template
@foreColor: #dddddd;
@foreColorDarker: lightgray;
@foreColorDark: grey;
@backcolor: #222222;
@backColorDarker: #333333;

.gall {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.gall .imgthumb,
.gall .imgcont {
  background-color: transparent;
  width: 100%;
}

.gall .thumbbox {
  top: -15px;
  position: relative;
  background-color: transparent;
  height: 58px;
  overflow: hidden;
  padding: 0;
  border: solid 2px @foreColorDark;
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.gall .imgthumb {
  position: absolute;
  display: block;
  top: 0;
  padding: 0;
  height: 100%;
  width: 1000px;
  background-color: @backcolor;
  text-align: left;
}

.gall .imgcont {
  padding-bottom: 5px;
  display: inline-block;
  border: solid 2px @foreColorDark;
  border-radius: 8px;
}

.gall .imgthumb img {
  display: inline-block;
  margin: 4px 0px 0 8px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
}

.gall .imgcont img,
.gall .imgcont span {
  display: inline-block;
}

.gall .imgcont img {
  border-radius: 5px;
  margin-top: 5px;
  width: 98%;
  cursor: pointer;
}

.gall .btnl,
.gall .btnr {
  padding: 2px 5px 2px 5px;
  border: solid 2px @foreColorDark;
  border-radius: 8px;
  background-color: @backcolor;
  min-height: 18px;
  font: bolder 14px san-serif;
  color: @foreColor;
  cursor: pointer;
}

.gall .btnl {
  position: absolute;
  left: 4px;
  bottom: 30px;
}

.gall .btnr {
  float: right;
  position: absolute;
  right: 4px;
  bottom: 30px;
}

/* float win */
.gall .overlayer,
.gall .outerframe {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 0;
}

.gall .overlayer {
  background-color: @backcolor;
  opacity: 0.75;
}

.gall .outerframe .outerbox {
  position: relative;
  top: 20px;
  margin: 0 auto 0 auto;
  z-index: 10;
  opacity: 1;
}

.gall .imgbox {
  position: relative;
  width: auto;
  display: inline-block;
}

.gall .img {
  position: relative;
  opacity: 1;
  z-index: 10;
  border-radius: 8px;
  border: solid 3px @foreColorDark;
}

.gall .desc,
.gall .close,
.gall .less,
.gall .greater,
.gall .displ {
  padding: 2px 10px 2px 10px;
  border: solid 3px @foreColorDark;
  border-radius: 8px;
  background-color: @backColorDarker;
  min-height: 18px;
  font: bolder 14px Arial, san-serif;
}

.gall .desc {
  position: relative;
  top: -18px;
  z-index: 15;
  display: inherit;
  font: bolder 14px Arial, san-serif;
  background-color:@backColorDarker;
}

.gall .close,
.gall .less,
.gall .greater,
.gall .displ {
  z-index: 15;
  top: -13px;
  color: @foreColor;
  text-decoration: none;
  font-weight: bolder;
  font-family: sans-serif;
}

.gall .inactive{
  color: @foreColorDark;
}

.gall .close {
  position: absolute;
  right: 10px;
}

.gall .btntop {
  position: absolute;
  top: -9px;
  z-index: 15;
  width: 100%;
}